---
---
@import "style";

/*********************************
SEARCH BAR
**********************************/

.search-btn {
position: fixed;
        right: 10px;                            
        top: 15px;                              
        fill: #DDD;                             
}                                               
.search-btn:hover {                             
        fill: #BBB;                             
}                                               

.search {                                       
        position: fixed;                        
        background-color: rgba(102, 51, 153, 0.95);                                             
        background-color: rgba(0, 191, 255, 0.85);                                              
        left: 0;                                
        right: 0;                               
        top: 0;                                 
        bottom: 0;                              
        color: beige;                           
        z-index: 1;                             
        transition: 0.2s ease;                  
        visibility: hidden;                     
        opacity: 0;
}
.search__close-btn {
        fill: #DDD;
        position: absolute;
        right: 10px;
        top: 15px;
        z-index: 1;
}
.search__input {
        border: 0;
        font-size: 50px;
        border-left: none;
        border-right: none;
        color: #999;
        width: 100%;
        padding: 10px 31px;
        text-align: center;
        transform: translateY(-100%);
        transition: 0.15s ease-out 150ms;
}

.is-active .search__input {                     
        transform: translateY(0);               
}                                               
.search__results {                              
        text-align: center;                     
        list-style: none;                       
        padding: 0;                             
        overflow-x: hidden;                     
        height: calc(100% - 110px);             
        transition: 0.2s ease;                  
}                                               
.search__results.is-hidden {                    
        opacity: 0;                             
        transform: translateY(-1vh);            
}                                               

.search__results > li > a {                     
        display: block;                         
        position: relative;                     
        background-color: #f9f9f9;              
        color: #666;                            
        padding: 17px;                          
        margin: 12px 14px;                      
        box-shadow: 0 3px 4px rgba(0,0,0,0.1);  
}                                               
.search__result-date {                          
        color: #BBB;                            
        position: absolute;                     
        right: 12px;                            
}                                               
.search.is-active {                             
        opacity: 1;                             
        visibility: visible;                    
}

/*
Social-media 
 */
.social-media {
        overflow: auto;
        width: 750px;
        margin: 0 auto;
}

.social-media__item {
        width: 20%;
        float: left;
        cursor: pointer;
        text-align: center;
        line-height: 15px;
        border-top: 15px solid;
        overflow: hidden;
        transition: border-width .15s ease;
}

.social-media__item:hover,
.social-media__item:focus {
        border-top-width: 0;
}

.social-media__item--twitter {
        border-top-color: #00ACED;
}

.social-media__item--github {
        border-top-color: #D9D9D9;
}

.social-media__item--facebook {
        border-top-color: #3C5A98;
}

.social-media__item--google {
        border-top-color: #DD4B39;
}

.social-media__item--ng {
        border-top-color: #FFB60D;
}
.social-media__item--dribbble {                 
        border-top-color: #ea4c89;
}

.social-media__item__text {
        display: block;
        opacity: 0;
        font-size: 12px;
        transition: .15s ease;
        transform: translateY(10px);
}

.social-media__item__text:hover {
        text-decoration: none;
}

.social-media__item:hover .social-media__item__text,
.social-media__item:focus .social-media__item__text {
        transform: translateY(0px);

        opacity: 1;
}
