<h1><span data-i18n="skills.my_skills">About me</span></h1>

<div>
<p><strong>Siapa yang ada di balik blog ini?</strong><br />
Nama saya adalah Aidil Putra, Bekerja sebagai Technical Support di Perusahaan <a href="https://www.nusa.id/">Nusa.ID</a> bagian dari grup <a href="https://www.nusa.net.id/">Nusanet</a>, Mulai Tertarik menggunakan linux sejak berada di Sekolah menengah atas, Bekerja sehari-hari menggunakan sistem Operasi <a href="https://getfedora.org/">Fedora</a>
</p>

<p>
Aada banyak orang berpengaruh yang telah mengajari saya praktik terbaik, keterampilan memecahkan masalah, dan kesabaran. Saya merasa bahwa blog ini adalah cara untuk memberi kembali kepada mereka yang telah membantu saya.
</p>

<p><strong>Boleh Nanya Gak?</strong><br />
tentu saja boleh. Jika kalian ada pertanyaan seputar topik yang dibahas, silahkan tinggalkan komentar di halaman topik yang sedang di bahas tersebut. Saya akan menjawabnya jika memang bisa menjawabnya :).

<p><strong>What are you doing now?</strong><br />
I&#8217;ll leave that to <a href="http://linkedin.com/in/aidil-putra-082423103">LinkedIn</a>.</p>

</div>
