<footer>
    {% include paginate.html %}
    {% include suggestion.html %}
    <hr />
    <div class="user-footer">
        <div class="copyright alignable pull-left">
	    <a href="{{ site.url }}{{ site.baseurl }}/">
                &copy;{{ site.title }}
	    </a>
        </div>
        <div class="alignable pull-right">
            <a href="mailto:{{ site.email }}" class="button">
                mail
            </a>
   	    <a href="{{ site.url }}{{ site.baseurl }}/category" class="button">
               category
            </a>

            <a href="{{ site.url }}{{ site.baseurl }}/about" class="button">
               about 
            </a>
            <a target="_blank" href="{{ site.url }}{{ site.baseurl }}/feed.xml" class="button">
                rss
            </a>
	    <a href="{{ site.baseurl }}" class="button">
                
            </a>

        </div>
    </div>
    <div style="clear:both"></div>
</footer>
